body {
  font-family: 'Sanchez', serif;
  background: url('../img/tiny_grid.png');
  color: #464646;
}

a {
  color: #898989;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.tab {
  cursor: pointer;
  color: #898989;
  margin-right: 1em;;
  padding: .6em;
}

.tab.selected {
  color: #464646; 
  background-color: rgba(208, 224, 235, 0.7);
}

h1 a {
  text-decoration: none;
}

h2, h3,
.prominent {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: .25em;
}

section {
  background-color: rgba(208, 224, 235, 0.5);
  padding: 1.2em 2.7em;
  margin: 2.7em 0;
}

menu {
  list-style: none;
}

form {
  margin-bottom: 1em;
}

.form-spacer {
  margin-bottom: 1.4em;
}

input['type=text'],
input['type=password'],
input['type=email'] {
  
}

.prominent {
  font-size: 130%;
}

.mood-face {
  margin: 0 1em;
  padding 0 1em;
  cursor: pointer;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.mood-face.selected {
  filter: alpha(opacity=100);
  opacity: 1;
}
