{% extends "layout.html" %}
{% block body %}
{{ chart }}
{{ weekdays }}

{% if chart %}
  <table class="chart month">
    <tr class="weekday-header">
    <td></td>
    {% for day in weekdays %}
      <td>{{ day }}</td>
    {% endfor %}
    </tr>
    <tr>
    {% for date in chart.date_range %}
      <td>
        <strong>{{ date }}</strong>
        {% for user, records in chart.user_records.items() %}
          {% for record in records %}
            {% if date in record %}
              {{ user }}: {{ record[date] }}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  Sorry, there's no data for this time period.
{% endif %}
{% endblock %}
