{% extends "layout.html" %}
{% block body %}

{% if chart %}
  <table class="chart month">
    <tr>
    {% for date in chart.date_range %}
      <td valign="top">
        <strong>{{ date }}</strong><br/>
        <ul>
          {% for user, records in chart.user_records.items() %}
            {% for record in records %}
              {% if date in record %}
                <li>{{ user }}: <img src="../static/img/{{ record[date] }}.png"/></li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      </td>
    {% endfor %}
    </tr>
  </table>
{% else %}
  Sorry, there's no data for this time period.
{% endif %}
{% endblock %}
