{% extends "layout.html" %}
{% block body %}
{{ chart }}
{{ weekdays }}
<table class="chart {{ timespan }}">
  <tr class="weekday-header">
  <td></td>
  {% for day in weekdays %}
    <td>{{ day }}</td>
  {% endfor %}
  </tr>

  <tr class="date-header">
  <td></td>
  {% for date in chart.date_range %}
    <td>{{ date }}</td>
  {% endfor %}
  </tr>

  {% for user, records in chart.user_records.items() %}
  <tr>
    <td>{{ user }}</td>
    {% for record in records %}
      <td>{{ record[0] }}</td> 
    {% endfor %}
  </tr>
  {% endfor %}
  

</table>
{% endblock %}
