{% extends "layout.html" %}
{% block body %}
{{chart}}
{% if chart %}
  <a id="chart-note-link" href="" class="note right">Wait, there are more entries...</a>
  <p class="right hidden" id="chart-note">The chart will only display entries from last Friday and back. Its pretty easy to feel unsure and give an inaccurate report on the day if you can compare it to your teammates' entries, so they're hidden for now.</p>
  <table class="chart week">
    <tr class="weekday-header">
    <td></td>
    {% for day in weekdays %}
      <td>{{ day }}</td>
    {% endfor %}
    </tr>

    <tr class="date-header">
    <td></td>
    {% for date in chart.date_range %}
      <td>{{ date }}</td>
    {% endfor %}
    </tr>

    {% for user, records in chart.user_records.items() %}
    <tr>
      <td>{{ user }}</td>
      {% for date in chart.date_range %}
        <td>
        {% for record in records %}
            {% if record[date] %}
                <img src="../static/img/{{ record[date] }}.png"/>
            {% endif %}
        {% endfor %}
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
{% else %}
  Sorry, there's no data for this time period.
{% endif %}

<script src="../static/js/chart.js"></script>
{% endblock %}
