{% extends "layout.html" %}
{% block body %}
<span class="tab selected">Today</span>
<span class="tab">Yesterday</span>
<h3>How's it going, {{ user.username }}?</h3>
<form action="{{ url_for('log_mood') }}" method="post">
  <input type="radio" name="mood" value="1">
  <input type="radio" name="mood" value="2">
  <input type="radio" name="mood" value="3">
  <input type="radio" name="mood" value="4">
  <input type="radio" name="mood" value="5">
  <input type="hidden" name="entry_for" value="today">
  <input type="hidden" name="uid" value="{{ user.id }}">
  <input type="submit"></input>
</form>

<h4>Check out some charts</h4>
<form action="{{ url_for('show_chart') }}" method="post">
  <label>I'd like to see the chart from</label>
  <select name="time_period">
    <option value="1" selected>last week</option>
    <option value="2">this month</option>
    <option value="3">last month</option>
    <option value="4">this quarter</option>
    <option value="5">this year</option>
    <option value="6">ALL TIME!</option>
  </select>,
  <input type="submit" value="please"></input>.
</form>
{% endblock %}
